* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    width: 100%;
}


/* nav bar */
header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    width: 100%;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

header nav ul li a {
    text-decoration: none;
    color: #3b3737;
    font-size: 18px;
    padding: 20px;
}

header nav ul li a:hover {
    color: #000000;
}
/* end */

.section {
    display: flex;
    padding-bottom: 5vh;
}

#pad_in {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
}

/* Banner styling */
#banner {
    height: 20vh;
    padding-bottom: 3vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-top: 5vh;
}

h1 {
    font-size: 50px;
    /* color: rgb(0, 0, 0); */
}

#banner h1 {
    font-size: 50px;
    /* color: rgb(0, 0, 0); */
}

#banner a {
    text-decoration: none;
    font-size:25px; 
    color: #3b3737;
    padding: 3px;
}

/* #name_flex {
    display: flex;
} */
/* end */


/* Research Interests */
.research-interests {
    display: flex;
    align-items: center; 
    /* gap: 20px;  */
}

/* end */

footer {
    background-color: #f1f1f1;  
    color: #333;                
    text-align: center;        
    padding: 20px;              
    font-size: 14px;            
    position: relative;
    bottom: 0;
    /* width: 100%; */
    margin-top: 40px;           
}