/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/
/* Our default values set as CSS variables */
:root {
  --color-bg: #fffdd0;
  --color-text-main: #000000;
  --color-primary: #8dc2b8;
  --wrapper-height: 85vh;
  --image-max-width: 320px;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");

/* Our remix on glitch button */
.btn--remix {
  font-family: HK Grotesk;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
/*   margin-left: auto; */
}
.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #d0fff1;
}

/* Navigation grid */

.divider {
  padding: 0 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  color: #fffff0;
}

.stickyNav {
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 1rem;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 4px solid #ffffff;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: left;
  background: url("https://cdn.glitch.global/fb75668c-7d6a-4335-873e-c191019df87e/20230519_132505.jpg?v=1688338171511");
}

.stickyNav a:hover {
  background: var(--color-primary);
}

.stickyNav a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  color: #e3faf5;
  text-decoration: none;
  border-style: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-top: 4px solid #ffffff;
  text-align: center;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

/* Page structure */


body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
}
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
  min-height: 86vh;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  padding-left: 10%;
  padding-right: 10%;
}

.Typing {
  color: #2800ff;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 100%;
}

/* Page titles */
h1 {
  color: #2800ff;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
}
.page h1 {
  font-size: 48px;
}

.page p {
  line-height: 1.5;
}

.page a {
  color: #000;
}

.page a:hover {
  text-decoration: none;
}

/* The React image and "click me" text */
.btn--click-me {
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
}
.btn--click-me:hover {
  text-decoration: underline;
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 80%;
  max-height: var(--image-max-width);
  cursor: pointer;
  padding-left: 7.5rem;
}

/* Instructions */
.instructions {
  /*   margin: 1rem auto 0; */
  /*   margin: 1rem 5.5rem 1rem; */
  text-align: center;
}
.instructions p {
  font-size: 1rem;
  text-align: left;
}
h2 {
  color: #2800ff;
  font-size: 38px;
}
h3 {
  font-family: "Courier Prime", monospace;
}
h4 {
  font-family: "Courier Prime", monospace;
}




/*divs*/
.child {
  /* ... */
  position: absolute;
  top: 30px;
  left: 30px;

}

.relImg {
  position: relative;
  top: 0;
  left: 0;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}


.standOut {
  background: white;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #2800ff;
  text-align: left;
  /*   margin: 7%; */
}

.standOut p {
/*   padding-left: 0.5rem;
  padding-right: 0.5rem; */
}

.innerText {
  padding-left: 2%;
  padding-right: 2%;
}


.innerText p {
  padding-left: 0;
  padding-right: 0;
}

.box {
  text-align: center;
  float: center;
  margin: 5%;
}

.widthSpan {
  width: 100%;
}

.imageAndText {
  display: flex;
  align-items: center;
  float: right;
}

/*
flex for the crew images
*/

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  /*   text-align: center; */
  align-items: center;
  justify-content: center;
}

.flexItem {
  padding: 10px;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cardImg {
  max-width: 30vw;
  max-height: 30vw;
}

.cardGroup {
  margin: 10px;
  max-width: 30vw;
}

.mapAndCaption p{
  text-align: center;
}

/**/
.flexContainer ul {
  list-style-image: url("https://cdn.glitch.global/fb75668c-7d6a-4335-873e-c191019df87e/smallerStar.png?v=1688270696687");
  margin: 20px;
}

.flexContainer li {
  padding: 5px;
}

/*images*/
.theCrewImg {
  max-width: 150px;
  border-radius: 50%;
  border: 2px solid #2800ff;
}

.schoolPic {
  max-width: 100%;
/*   cursor: pointer; */
}

#moominFooter {
  max-width: 150px;
}

#moominFooterGroup {
  font-size: 10px;
}

#doubleStar {
  max-width: 25%;
  padding-left: 5%;
  padding-right: 5%;
}

.centeredVid {
  text-align: center;
}

.mapPic {
  max-width: 100%;
  cursor: pointer;
  background: #1b1f33;
  padding: 1rem;
  border-radius: 3%;
}

.tripleStar {
  max-width: 10%;
  padding: 0.3rem;
  padding-top: 0.5rem;
}

#groupPic {
  max-width: 50%;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 3%;
  border: 2px solid #2800ff;
  background: white;
}

.moominFooter {
  max-width: 20%;
}

#credits {
  font-size: 14px;
  font-style: italic;
}

@media screen and (max-width: 600px) {
  .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .cardImg {
    max-width: 100%;
    max-height: 100%;
  }

  .cardGroup {
    margin: 10px;
    max-width: 80%;
  }

  .box {
    text-align: center;
    float: center;
    margin: 5px;
  }

  .Typing {
    color: #2800ff;
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 105%;
  }

  .footer a:not(.btn--remix):link,
  a:not(.btn--remix):visited {
    font-size: 1rem;
    /*     font-weight: bold; */
  }

  .divider {
    padding: 0.3rem;
  }

  .btn--remix {
    display: none;
  }
}

/*Media queries*/
@media screen and (max-width: 400px) {
  .stickyNav {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  .box {
    text-align: center;
    float: center;
    margin: 5px;
    display: flex;
    flex-direction: column;
  }

  .Typing {
    color: #2800ff;
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 105%;
  }

  .footer a:not(.btn--remix):link,
  a:not(.btn--remix):visited {
    font-size: 0.7rem;
    font-weight: bold;
  }

  .divider {
    padding: 0.3rem;
  }

  .btn--remix {
    display: none;
  }
}

/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/
